body.wp-admin {
    .pmpro_admin {
        .nav-tab-wrapper {
            .nav-tab {
                display: none;
                &:nth-child(2),
                &:nth-child(5) {
                    display: block;
                }
            }
        }
    }
}