body.wp-admin .pmpro_admin .nav-tab-wrapper .nav-tab {
  display: none;
}
body.wp-admin .pmpro_admin .nav-tab-wrapper .nav-tab:nth-child(2), body.wp-admin .pmpro_admin .nav-tab-wrapper .nav-tab:nth-child(5) {
  display: block;
}/*# sourceMappingURL=admin.css.map */